*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    text-align: center;
    color: tomato;
    background-color: black;
    font-size: x-large;
}

.navbar .menu a{
    text-align: center;
    display: inline-block;
    width:15%;
    font-size: x-large;
    text-decoration: none;
}

.aboutme h1{
    text-align: center;
}
.aboutme img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    
}
.aboutme p{
    margin: 20px;
}

.section{
    margin: 20px;
}